body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(51, 51, 51, 0.7); /* Couleur de fond avec opacité */
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: rgba(68, 68, 68, 0.7); /* Couleur de fond avec opacité */
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
}

footer {
    background-color: rgba(51, 51, 51, 0.7); /* Couleur de fond avec opacité */
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
